@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.edited-scrollbar::-webkit-scrollbar {
  background-color: #0a0a0a;
  width: 10px;
}

.edited-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(250, 250, 250, 0.192);
  border-radius: 50%;
}